#area-tab-selection{
    background:#555555;
    position:relative;
    
    height:30px;
    margin:10px;
    padding:5px;
}
#area-canvas{
    background: #555555;
    position:relative;
    margin:10px;
    padding:5px;
}
#area-json{
    background: #555555;
    position:relative;
    margin:10px;
    padding:5px;
}
.tab{
    background:#afafaf;
    display: inline-block;
    height:20px;
    padding:5px;
    margin-left:10px;
}