#area-tab-selection{
    position:relative;
    background:#555555;
    width:100%;
    height:30px;
}
#area-canvas{
    position:relative;
    width:640px;
    height:480px;
}
.tab{
    background:#afafaf;
    display: inline-block;
    height:20px;
    padding:5px;
    margin-left:10px;
}